/* cards */
.cards {
  width: 900px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

/* cards */
.card {
  width: 25%;
  height: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border: 1px solid lightgray;
  box-shadow: 0 0 5px rgba(203, 198, 198, 0.952);
  padding: 20px;
}

.card img {
  width: 150px;
}

.card p {
  color: darkgray;
  opacity: 0.7;
}

@media(max-width: 900px) {
  .card {
    margin-bottom: 15px;
  }
}

@media(max-width: 500px) {
  .cards {
    justify-content: space-around;
  }
}
