.container {
  width: 800px;
  margin: 0 auto;
}

.container p {
margin-bottom: 50px;
color: rgb(191, 183, 183);
letter-spacing: 1px;
font-size: large;
}

.container p, h1 {
  text-shadow: 1px, 3px, 3px, rgba(0, 0, 0, 0.3);
  color: white;
  }

.container h2 {
  color: black;
  text-align: center;
 }

 @media(max-width: 900px) {
  .container {
    width: 500px;
  }
}

@media(max-width: 500px) {
  .container {
    width: 300px;
  }
}
